.center {
  display: flex;
  justify-content: center;

 
}

.menu {
  display:flex;
  justify-content: space-between;
  width:100%
}

h1 {
  display:flex;
  justify-content: center
}

.trans {   
  background-color: rgb(255 255 255 / 40%);
  color: black;
}

 