/* ----- Grid ----- */
.admin {
  margin: auto !important;
  max-width: 1200px;
  background-color: #eee;
}

/* ----- NavBar ----- */
.admin .navbar {
  width: 100%;
  height: 100px;
  padding: 0 32px;
  background-color: #0e2a30;
}

.admin .navbar-brand {
  flex-grow: 1;
}

.admin .navbar a {
  color: #eee !important
}

.admin .navbar a:hover {
  text-decoration: none;
  color: #aaa !important
}

/* ----- Section header ----- */
.admin .adminCalendar,
.admin .adminNewsTicker {
  margin: 16px 0 64px
}

.admin .actionIcon {
  float: right;
}

/* ----- Sections content ----- */
.admin .noTickerNews {
  margin: 16px 0 0 16px;
}

.admin table {
  margin-top: 16px;
}

/* ----- Calendar ----- */
.admin th.fc-resource {
  display: none !important;
}

.admin .fc-day-today {
  background-color: #d7d7d7 !important;
}

.admin .fc-col-header .fc-day-today {
  background-color: #0e2a30 !important;
}

.admin table.fc-col-header {
  margin: 8px 0 !important;
}

/* ----- Forms ----- */
.admin .editStageForm,
.admin form {
  width: 100%;
  margin: 16px 0;
}

.admin .alert {
  margin-bottom: 16px;
}

.admin .inputStageName {
  width: 84%;
}

.admin .inputTickerMessage {
  width: 67%;
}

.admin .inputTickerDuration,
.admin .submit {
  width: 15%;
}