body {
  background-image: url(../src/images/bgrd.png);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 100%;
 padding: 10
}

html {
  height: 100%;
}