/* ----- general ----- */
html {
  height: 100%;
}

body {
  background-image: url(../src/images/bgrd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}

h1 {
  display: flex;
  justify-content: center
}

/* ----- global helper classes ----- */
.center {
  display: flex;
  justify-content: center;
}

.trans {
  background-color: rgb(255 255 255 / 40%);
  color: black;
}